# Vital Scanner Lab - Environment Configuration

PORT=8000
GROQ_API_KEY=your_groq_api_key_here
ESP32_URL=http://192.168.137.100
ESP32_HOME_URL=http://192.168.137.101
VITALS_SCANNER_URL=http://localhost:8000
MONGO_URI=mongodb://127.0.0.1:27017/medikiosk
